/* IMPORTED SPOTIFY FONT --------------------------------------------------------------- */
@font-face { font-family: spotify; src: url('fonts/CircularSpotifyTxT-Black.ttf'); }

/* GLOBAL WEBSITE STYLING --------------------------------------------------------------- */
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: spotify;
    min-width: 700px;
    
  }

a {
    color:rgb(150, 12, 12);
}

h3 {
  font-size: 100px;
  color: rgb(150, 12, 12);
  user-select: none;
}

p {
  padding: 0px;
}

#home-text {
  user-select: none;
}

#home-content{
  display: block;
  
}

#home-button{
  color: rgb(150, 12, 12);
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    display: none;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 12, 12);
}

#particles-js{
  width: 100%;
  height: 200%;
  overflow: hidden;
}

.tabs {
  
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.tab-button {
  background-color: transparent;
  color: white;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  font-family: spotify;
  border: 1px solid grey;
  user-select: none;
}

.tab-button:hover {
  background-image: linear-gradient(to top, rgba(34, 34, 34, .40), rgba(34, 34, 34, 1));
  transition: all 0.5s ease-in;
}

.tab-content {
  background-color: white;
  width: 50%;
  height: 0px;
  left: 25%;
  top:10%;
  position: absolute;
  color: white;
  text-align: center;
  font-size: 25px;
  display: none;

}

/* ABOUT ME STYLING--------------------------------------------------------------- */

#about-text{
  user-select: none;
}

.src-img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width:8%;
    height:8%;
    padding: 3%;
    transition: 1s;
    border-radius: 15%;
    color: transparent;
    user-select: none;
}

#igit:hover {
  background-color: rgba(74, 0, 111, 0.529);
  
}
#iln:hover {
  background-color: rgba(118, 118, 118, 0.679);
}

#igl:hover {
  background-color: rgba(128, 0, 0, 0.549);
}

.aleft {
  text-align: left;
}

.noUl {
  color: transparent;
}


/* PROJECTS STYLING -------------------------------------------------------------- */

.proj-block {
  border: 1px solid grey;
  /* display: flex; */
  border-radius: 10px;
  font-size: 17px;
  padding: 0px;
  user-select: none;
}

.proj-block:hover {
  /* background-color: rgba(34, 34, 34, .85); */
  

  background-image: linear-gradient(rgba(34, 34, 34, .40), rgba(34, 34, 34, 1));
  transition: all 0.5s ease-in;
  border: 1px solid rgb(150, 12, 12);
}

#deep-space-button{
  background-image: url('imgs/game-screenshot.png');
  background-position: center center;
  background-size: cover;
}

#deep-space-button:hover{
  background-image: url('imgs/gif.gif');
  background-position: center center;
  background-size: cover;
}

#cholera-button{
  background-image: url('imgs/cholera-img.png');
  background-position: center center;
  background-size: cover;
}

#cholera-button:hover{
  background-image: url('imgs/cholera-gif.gif');
  background-position: center center;
  background-size: cover;
}


.proj-img{
  display: block;
  padding: 0px;
  width: 50%;
  height: auto;

}

.proj-txt{
  padding: 0px;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  user-select: none;
}

#proj-heading {
  padding: none;
}

#proj-subhead{
  position: absolute;
  left: 0%;
  top:100%;
  text-align: center;

}

h4{
  font-size: 24px;
  color: rgb(150, 12, 12);
  padding: none;

}

.img-src{
  color: white;
  text-decoration: none;
}

/* CODE TAB --------------------------------------------------------------- */
#code-text{
  text-align: left;
  user-select: none;
}

#profile-img{
  width: 100%;
  height: auto;
  border: 1px solid grey;
  border-radius: 10px;
}

#profile-img:hover{
  transform:scale(1.5);
  height: auto;
  border: 1px solid rgb(150, 12, 12);
  border-radius: 10px;
  transition: all 0.5s ease-out;
}



/* ANIMATIONS --------------------------------------------------------------- */
/*Fade out welcome text */
.fade-out-welcome {
    
    -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 3s linear forwards;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 1; }
  30% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}

@keyframes fadeinout {
  0% { opacity: 1; }
  30% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}

/*Fade in text */
.fade-in {
    -webkit-animation: fadein 5s linear forwards;
    animation: fadein 5s linear forwards;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.click-in {
    -webkit-animation: clickin 2s linear forwards;
    animation: clickin 2s linear forwards;
}

@-webkit-keyframes clickin {
  0% { opacity: 0; }
  50% { opacity: 0.75; }
  100% { opacity: 1; }
}

@keyframes clickin {
  0% { opacity: 0; }
  50% { opacity: 0.75; }
  100% { opacity: 1; }
}

/* @media (min-width: 750px) {
  .proj-text {color: blue;}

}

@media (max-width: 750px) {
  .proj-text {color: greenyellow;}
} */

/* @media (max-width: 1000px) {
  .proj-img {display: none;}
}
@media (min-width: 1000px) {
  .proj-img {display: inline;}
} */

/*Fade in text */
.proj-sub-fade-in {
  -webkit-animation: proj-fade 5s linear forwards;
  animation: proj-fade 5s linear forwards;
}

@-webkit-keyframes proj-fade {
0% { opacity: 1; }
50% { opacity: .75; }
100% { opacity: 0;}
}

@keyframes proj-fade {
0% { opacity: 1; }
50% { opacity: .75; }
100% { opacity: 0; }
}